<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>FiltroLogueo</filter-name>
        <filter-class>mx.itson.proyectoappweb.filtro.FiltroLogueo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroLogueo</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SrvDelete</servlet-name>
        <servlet-class>mx.itson.proyectoappweb.servlet.SrvDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvUpdate</servlet-name>
        <servlet-class>mx.itson.proyectoappweb.servlet.SrvUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SrvDelete</servlet-name>
        <url-pattern>/SrvDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvUpdate</servlet-name>
        <url-pattern>/SrvUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
